.ListTeaser.u-mb-3{ class: (defined? mod) ? "ListTeaser--#{mod}" : '' }
  =link_to user_list_path(list.user.name, list) do
    .ListTeaser-text.u-ff-open.u-fw-100.u-mx-05.u-pt-2.u-pb-1.u-t-align-center
      =list.title

    .ListTeaser-imageWrapper
      .u-m-1.u-d-flex.u-f-space-between.u-f-align-center
        -list.list_items.each_with_index do |item, index|
          -break if index > 2
          %div.ListTeaser-image
            %img{ src: "#{item.image_thumb_url}" }

    .ListTeaser-items.u-ff-ptsans.u-p-1
      -list.list_items.each_with_index do |item, index|
        -break if index > 2
        .u-d-flex
          .ListTeaser-number.u-ff-open.u-fw-100.u-c-blue.u-t-align-center
            =index+1
          %p.u-ml-1=truncate item.title, length: 50

  .ListTeaser-metabox.u-bg-blue.u-t-align-center.u-pt-1.u-px-05
    -if list.list_items.count-3 != 0
      =link_to user_list_path(list.user.name, list), class: 'ListTeaser-moreLink' do
        %span.u-fw-700
          =list.list_items.count-3
        more items

    .u-mt-1.u-t-align-center
      =render :partial => 'tags/tag_small', :collection => list.tags

    .u-d-flex.u-f-space-between.u-p-1.u-c-white
      %p.u-m-0
        =inline_svg 'heart.svg', class: 'Icon Icon--heart'
        ="#{list.cached_votes_total} "
      %p.u-m-0
        by #{ link_to "#{list.user.name}", user_path(list.user.name), class: 'u-fw-700'}