%main.container
  .row
    .col.s12.m9.l6
      %p.flow-text Registration

      -if @user.errors.any?
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:

        %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

      = form_for @user do |f|
        .row
          .input-field.col.s12
            = f.label :name
            = f.text_field :name, required: true, class: 'validate'

        .row
          .input-field.col.s12
            = f.label :email
            = f.email_field :email, required: true, class: 'validate'

        .row
          .input-field.col.s12
            = f.label :password
            = f.password_field :password, required: true, class: 'validate'

        .row
          .input-field.col.s12
            = f.label :password_confirmation
            = f.password_field :password_confirmation, required: true, class: 'validate'

        %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
          Register
          %i.material-icons.right send

