!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title MY Top Ten
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name

    .SiteWrapper
      = render "layouts/menu_top"

      .ContentWrapper
        = yield
