!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title Title
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}

  %body{ class: (current_user ? 'is-loggedin' : 'is-guest') }
    = render "layouts/menu_top"

    = yield

    =link_to user_list_new_path(current_user.name), class: 'AddNewButton' do
      %i.material-icons add

    %footer
      %span.flash-messages{data: { messages: flash.to_json }}

  %script#dsq-count-scr{scr: "//mytopten-1.disqus.com/count.js", async: true }

