!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title MY Top Ten
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}

  %body
    .row
      = render "layouts/menu_top"

      #loading-indicator
        .preloader-wrapper.big.active
          .spinner-layer.spinner-blue-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle

      .container
        = yield

    %footer
      %span.flash-messages{data: {messages: flash.to_json}}

