!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title MY Top Ten


    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}
    %link{:rel => "stylesheet", :href => "https://code.getmdl.io/1.1.3/material.indigo-pink.min.css"}
    %script{:defer => true, :src => "https://code.getmdl.io/1.1.3/material.min.js"}

  -# -----------------------------------------------------------------------------

  %body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      %header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
        .mdl-layout--large-screen-only.mdl-layout__header-row
        .mdl-layout--large-screen-only.mdl-layout__header-row
          %h3 My Top Ten
        .mdl-layout--large-screen-only.mdl-layout__header-row
        = render "layouts/menu_top"

      %main.mdl-layout__content
      - flash.each do |name, msg|
        = content_tag :div, msg, class: name


      = yield

