!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title 
      = yield :page_title
      | QLM
    %link{ href: "//fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, charset: 'UTF-8'
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{ href: "/favicon.png", rel: "shortcut icon"}

    / Core build with no theme, formatting, non-essential modules
    = stylesheet_link_tag  "//cdn.quilljs.com/1.3.0/quill.snow.css", media: "all", "data-turbolinks-track" => true
    %script{ src: "//cdn.quilljs.com/1.3.0/quill.js" }
    
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:image", content: "#{request.base_url}/assets/images/meta_image.jpg" }

    -if @meta_description.present?
      %meta{ property: "og:description", content: @meta_description }
    -else
      %meta{ property: "og:description", content: "Quicklistmaker.com lets you create lists of your favorite things quickly and beatufilly. Join a growing community of people and share, discover and discuss new things every day." }

    -if @meta_title.present?
      %meta{ property: "og:title", content: @meta_title }
    -else
      %meta{ property: "og:title", content: "Quicklistmaker.com | All the lists all the time." }

    -if @meta_url.present?
      %meta{ property: "og:url", content: @meta_url }
    -else
      %meta{ property: "og:url", content: "https://www.quicklistmaker.com" }

  %body{ class: (current_user ? 'Site is-loggedin' : 'Site is-guest') }

    .Site-content
      = render "layouts/menu_top"
      = yield

      -if current_user
        =link_to user_list_new_path(current_user.name), class: 'AddNewButton', title: 'Add new list' do
          %i.material-icons add
          ADD LIST
      -else
        =link_to user_log_in_path, class: 'AddNewButton' do
          %i.material-icons add
          ADD LIST

    = render "layouts/footer"


  / %script#dsq-count-scr{scr: "//mytopten-1.disqus.com/count.js", async: true }

